/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2018, 11:57:35 AM
    Author     : Himanshu
*/
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eae9eb;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    margin-top: 59px;
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.footer{
    width: 100%;
    position: fixed;
    /*position: absolute;*/
    bottom: 0;
    background-color: #eae9eb;
    text-align: center;
}

@media screen and (max-width: 600px){
    .topnav{
        display: none;
    }
}

/*.middlecontent{
    width: 100%;
    height:521px;
    margin-top: 1px;
    border: 1px #333 solid; 
    box-sizing: border-box;
    background-color: #f1f2e3;
}*/