/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2018, 3:32:22 PM
    Author     : Himanshu
*/

#uname{
    font-size: 2vw;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
}
#upass{
    font-size: 2vw;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
}
#submitbtn{
    background-color: #4CAF50; /* Green */
    width: 100%;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 10px;
}