/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2018, 3:28:13 PM
    Author     : Himanshu
*/

.container{
    position: relative;
    width: 100%;
    height:550px;
    /*margin-top: 1px;*/
    /*border: 1px #333 solid;*/ 
    box-sizing: border-box;
    background-color: #f1f2e3;
}

.container .profile{
    position: absolute;
    width: 30%;
    left: 33.33%;
    top: 8%;
}

#uname,#upass,#uemail,#umobile,#addressone,#addresstwo,#addressthree,#city,#state{
    height: 30px;
    width: 100%;
    border: none;
    font-size: 1vw;
    background-color: #f1f2e3;
}

#btnedit{
    padding: 8px 30px;
    font-size: 1vw;
    border: none;
    cursor: pointer;
    background-color: #4dfc35;
    font-weight: bold;
    margin-left: 40%;
}

#submitbtn{
    padding: 8px 30px;
    font-size: 1vw;
    border: none;
    cursor: pointer;
    background-color: #4dfc35;
    font-weight: bold;
    margin-left: 38%;
}